# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Local stuff
instantclient
.vscode
config.json

!images/**/*.md

# mac
.DS_Store